.cartes {
    padding-bottom: 20px;
    padding-top:  20px;
    padding-left: 30px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .navigationVilles {
    background-color: #FCEAAA;
    margin: 0;
    width: 1800px;
    /*top: 30px;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navigationCategories a {
    background-color: grey;
    color: #000;
    font-size: 20px;
    margin: 0 20px;
  }
  
  .all-trainings-cards-container {
    margin-top: 30px;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .title-category {
    width: 50%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .test {
    background-color: green;
  }
  
  .training-main-container{
    width: 1500px;
  }